@model List<Result>

@{
    ViewData["Title"] = "Results";
}

<p class="font-weight-bold">
    ORGANIZATIONAL MATURITY ASSESSMENT RESULTS
</p>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Level 1 (0-20%)</th>
        <th>Level 2 (21-40%)</th>
        <th>Level 3 (41-60%)</th>
        <th>Level 4 (61-80%)</th>
        <th>Level 5 (81-100%)</th>
        <th>Overall % </th>
        <th>Goal </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.category.GetDescription()</td>
            <td>@item.Level1</td>
            <td>@item.Level2</td>
            <td>@item.Level3</td>
            <td>@item.Level4</td>
            <td>@item.Level5</td>
            <td>@item.Overall %</td>
            <td>@item.Goal %</td>
        </tr>
    }

    <tr>
        <td> </td>
        <td class="font-weight-bold">@Model.Sum(L => L.Level1)</td>
        <td class="font-weight-bold">@Model.Sum(L => L.Level2)</td>
        <td class="font-weight-bold">@Model.Sum(L => L.Level3)</td>
        <td class="font-weight-bold">@Model.Sum(L => L.Level4)</td>
        <td class="font-weight-bold">@Model.Sum(L => L.Level5)</td>
        <td class="font-weight-bold">@Convert.ToInt32(Model.Average(L => L.Overall)) %</td>
        <td class="font-weight-bold">@Model.Average(L => L.Goal) %</td>
    </tr>


</table>

<a class="btn btn-info" asp-action="Index">Back to List</a>
