
@model IndexViewModel

<form asp-controller="Test" asp-action="NextTest" enctype="multipart/form-data">
    <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>

    <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
    <input type="hidden" name="OurTestId" value="@Model.OurTestId" />
    <input type="hidden" name="QuestionId" value="@Model.QuestionId" />
    <input type="hidden" name="pvmCount" value="@Model.pvmCount" />

    <p class="font-weight-bold mb-3" style="color: purple;">@Model.Title</p>


    <p class="font-weight-bold"> @Model.Question.number.ToString(). @Model.Question.Text</p>

    @if (Model.Question.Variants != null)
    {
        <div class="form-group">

            <div class="form-check">
                <input asp-for="RadioAnswer" class="form-check-input" type="radio" value="@Model.Question.Variants[0]" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    @Model.Question.Variants[0]
                </label>
            </div>

            @for (int i = 1; i < Model.Question.Variants.Count; i++)
            {
                var strid = "flexRadio" + i;
                <div class="form-check">
                    <input asp-for="RadioAnswer" class="form-check-input" type="radio" value="@Model.Question.Variants[i]" id="@strid" placeholder="Enter your answer">
                    <label class="form-check-label" for="@strid">
                        @Model.Question.Variants[i]
                    </label>
                </div>
                @*<input type="radio" asp-for="RadioAnswer" value=" @variant" class="form-check-input" />@variant<br />*@
            }
        </div>

    }
    else if (Model.Question.SubText != null)
    {
        <div class="form-group">
            <label asp-for="answer0" class="control-label">@Model.Question.SubText[0] </label>
            <input asp-for="answer0" class="form-control" value="@Model.answer0" placeholder="Enter your answer"/>
            <span asp-validation-for="answer0" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer1" class="control-label">@Model.Question.SubText[1] </label>
            <input asp-for="answer1" class="form-control" value="@Model.answer1" placeholder="Enter your answer"/>
            <span asp-validation-for="answer1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer2" class="control-label">@Model.Question.SubText[2] </label>
            <input asp-for="answer2" class="form-control" value="@Model.answer2" placeholder="Enter your answer"/>
            <span asp-validation-for="answer2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer3" class="control-label">@Model.Question.SubText[3] </label>
            <input asp-for="answer3" class="form-control" value="@Model.answer3" placeholder="Enter your answer"/>
            <span asp-validation-for="answer3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer4" class="control-label">@Model.Question.SubText[4] </label>
            <input asp-for="answer4" class="form-control" value="@Model.answer4" placeholder="Enter your answer"/>
            <span asp-validation-for="answer4" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer5" class="control-label">@Model.Question.SubText[5] </label>
            <input asp-for="answer5" class="form-control" value="@Model.answer5" placeholder="Enter your answer"/>
            <span asp-validation-for="answer5" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer6" class="control-label">@Model.Question.SubText[6] </label>
            <input asp-for="answer6" class="form-control" value="@Model.answer6" placeholder="Enter your answer" />
            <span asp-validation-for="answer6" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer7" class="control-label">@Model.Question.SubText[7] </label>
            <input asp-for="answer7" class="form-control" value="@Model.answer7" placeholder="Enter your answer"/>
            <span asp-validation-for="answer7" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="answer8" class="control-label">@Model.Question.SubText[8] </label>
            <input asp-for="answer8" class="form-control" value="@Model.answer8" placeholder="Enter your answer"/>
            <span asp-validation-for="answer8" class="text-danger"></span>
        </div>

    }
    else
    {

        <div class="form-group">
            <textarea name="answer0" class="form-control" rows="5" placeholder="Enter your answer" id="AnsText" >@Model.answer0</textarea>
            <span asp-validation-for="answer0" class="text-danger"></span>
        </div>
    }
    <button type="submit" class="btn btn-primary btn-info mt-2" value="NextTest"> @(Model.PageViewModel.HasNextPage ? "Next" : "Finish") </button>

</form>

@*<div class="text-center">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-controller="Test" asp-action="Test" asp-route-spage=@(Model.PageViewModel.PageNumber - 1)
               class="btn btn-info" style="width:150px;">

                &#8678 Back
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-controller="Test" asp-action="Test"
               asp-route-spage=@(Model.PageViewModel.PageNumber + 1)
               class="btn btn-info my-2" style="width:150px;">
                Forward &#8680

            </a>

        }

    </div>*@

