
@model PageViewModel

  <p class="font-weight-bold"> @Model.Question.number.ToString(). @Model.Question.Text</p>
@{var t = 0; var count = 0; }

    @if (Model.Question.Variants != null)
    {
        t = 1; count = Model.Question.Variants.Count;

        foreach (var ans in Model.Question.Variants)
        {
            var ind = Model.Question.Variants.IndexOf(ans);
            var ansid = "exampleRadios" + ind.ToString();

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id=@ansid value=@ind>
                <label class="form-check-label" for=@ansid>
                    @ans
                </label>
            </div>
        }

    }
    else if (Model.Question.SubText != null)
    {
        t = 2; count = Model.Question.Variants.Count;

        foreach (var itm in Model.Question.SubText)
        {
            var ind = Model.Question.SubText.IndexOf(itm);
            var varid = "var" + ind.ToString();

            <div class="form-group">
                <label asp-for="@itm" class="control-label">@itm.ToString()</label>
                <input asp-for="@itm" id=@varid class="form-control" />
                <span class="text-danger"></span>
            </div>
        }
    }
    else
    {
        t = 3;

        <div class="form-group">
            <textarea name="@Model.Question.id" class="form-control" rows="5" placeholder="Enter your answer" id="AnsText"></textarea>
            @*<span asp-validation-for="@item.answer" class="text-danger"></span>*@
        </div>
    }


<div class="text-center">
    @if (Model.HasPre)
    {
        <a asp-controller="Test" asp-action="AddAnswer" asp-route-spage=@(Model.PageNumber - 1)
           class="btn btn-info" style="width:150px;">

            &#8678 Back
        </a>
    }
    @if (Model.HasNext)
    {
        <a onclick="jsAddAnswer('@Model.Question.id', '@t', '@count', '@Model.PageNumber')"
           class="btn btn-info my-2" style="width:150px;">
            Forward &#8680

        </a>
    }

</div>


@*<div class="text-center">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-controller="Test" asp-action="Test" asp-route-spage=@(Model.PageViewModel.PageNumber - 1)
           class="btn btn-info" style="width:150px;">

            &#8678 Back
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-controller="Test" asp-action="Test"
           asp-route-spage=@(Model.PageViewModel.PageNumber + 1)
           class="btn btn-info my-2" style="width:150px;">
            Forward &#8680

        </a>
    }

</div>*@